<!-- <div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Age</td>
            </tr>
        </thead>
        
    </table>
</div> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-parent-child-realtion [parentvalue]="name"></app-parent-child-realtion> -->
<!-- <app-parent-child-realtion [fName]="FirstName" [lName]="LastName"></app-parent-child-realtion> -->
<!-- <app-parent-child-realtion [details]="Person"></app-parent-child-realtion> -->

<!-- <div class="container">
    <h2>App Component</h2>
    <h1> {{ message }}</h1>
    <app-parent-child-realtion (childEvent) = "message=$event"></app-parent-child-realtion>
</div> -->
<!-- <app-pipes></app-pipes> -->
<app-employee></app-employee>
<app-employee-list></app-employee-list>
