<style>
    input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
    button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* button:hover {
  opacity: 0.8;
} */
</style>
<body>


<div class="container">
    
    <h2 style="text-align: center;">Registration</h2>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form #userForm="ngForm">
                <!-- {{ userForm.value | json }}
                <br>
                 {{ userModel | json }} -->

                
                <br>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input  #userName="ngModel"
                    [(ngModel)]="userModel.username"
                    name="username"
                    [class.is-invalid]="userName.invalid && userName.touched"  type="text" id="username"
                    class="form-control" required />
                     <small class="text-danger"
                     [class.d-none]="userName.valid || userName.untouched">
                      This is required field.....
                     </small>
                </div>
                {{ userName.touched }}
                <div class="form-group">
                    <label for="email">Email Id</label>
                    <input [(ngModel)]="userModel.email" name="email" type="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input  [(ngModel)]="userModel.phone"
                    name="phone"
                    type="number"
                    id="phone"
                    #phone = "ngModel"
                    class="form-control"
                    pattern="^\d{10}$"
                    [class.is-invalid]= "phone.invalid || phone.touched" required />
                    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                     <small *ngIf="phone.errors.required"> this is required field...</small>
                     <small *ngIf="phone.errors.pattern">phone number is invalid...</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="interest">Interest</label>
                    <select  [(ngModel)]="userModel.interest" name="interest" id="interest" class="form-control">
                        <option value="">---Select---</option>
                        <option *ngFor="let interest of interests">{{ interest}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <br>
                        <input [(ngModel)]="userModel.gender" type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                        <input [(ngModel)]="userModel.gender" type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label><br>
                        <input [(ngModel)]="userModel.gender" type="radio" id="other" name="gender" value="other">
                        <label for="other">Other</label>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="userForm.invalid" >Submit</button>
                    <label>
                      <input [(ngModel)]="userModel.remember" type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
            </form>
        </div>
      <div class="col-lg-2"></div>
    </div>
</div>
</body>
