
<div class="container">
  <br>
  <h3 style="text-align: center;">
    All Categories
  </h3>
  <br>

    <div class="row">
      <div class="col-sm" *ngFor = "let cat of categories">
        <div class="card" (click)="onSelectCategory(cat)" style="width: 18rem;">
            <img src="http://rjtmobile.com/grocery/images/{{ cat.catImage }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ cat.catName }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-primary">View Products</a>
            </div>
          </div>
    </div>
  </div>